section.about-us
  .container
    .about-us__inner  
      h2.about-us__title О нас
      p.about-us__text Траектория начала свою деятельность в 2005 году, как интернет магазин сноуборд снаряжения. А все началось со сноуборд-вечеринок, которые мы проводили под модным названием Trajectory Project — это были мероприятия для людей влюбленных в сноуборд.
      p.about-us__text Мы выбрали сноуборд, серф, вейкборд, скейт и лонгборд как основные виды активности, которые мы предлагаем и продвигаем. Мы не собираемся останавливаться на этом и постоянно думаем над новыми интересными направлениями. Помимо этого мы предлагаем самый большой выбор катальной и городской одежды, а также отличный выбор обуви для нашего любимого спорта и отдыха.
      .about-us__map
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A872326b5e601ce799fa4346e9fd14b740621fe52759031e8e7641730a633b28b&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script>
      .about-us__addresses 
        .about-us__address
          p.about-us__address-text Московский международный деловой центр Москва-Сити, офис 606
          a(href="tel:+74996666565").about-us__address-tel +7 (499) 666-65-65
        .about-us__address
          p.about-us__address-text Траектория На Павелецкой м. Павелецкая, Новокузнецкая, Таганская
          a(href="tel:+74995673345").about-us__address-tel +7 (499) 567-33-45