section.article
  .container
    .article__inner
      .product-description__breadcrumbs.breadcrumbs
            ul.breadcrumbs__list
              li.breadcrumbs__item.breadcrumbs__item-home
                a(href="#")
                  <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M34.6258 15.3682L18.3522 0.331681C17.8781 -0.11056 17.1219 -0.11056 16.6479 0.331681L0.374847 15.3676C0.135276 15.5889 0 15.8938 0 16.2124C0 16.861 0.549387 17.3867 1.22699 17.3867H3.38957V33.8258C3.38957 34.4743 3.93888 35 4.61657 35H13.2055C13.8832 35 14.4325 34.4743 14.4325 33.8258V24.432H20.5675V33.8258C20.5675 34.4743 21.1168 35 21.7945 35H30.3835C31.0611 35 31.6105 34.4743 31.6105 33.8258V17.3867H33.773C34.1057 17.3867 34.424 17.2574 34.6552 17.0285C35.1262 16.5622 35.113 15.8189 34.6258 15.3682ZM31.6105 16.2124C30.9328 16.2124 30.3835 16.7381 30.3835 17.3867V33.8258H21.7945V24.432C21.7945 23.7835 21.2452 23.2578 20.5675 23.2578H14.4325C13.7548 23.2578 13.2055 23.7835 13.2055 24.432V33.8258H4.61657V17.3867C4.61657 16.7381 4.06726 16.2124 3.38957 16.2124H1.22699L17.5 1.17653L33.7792 16.2124H31.6105Z" fill="#C4C4C4"/>
                  </svg>
              li.breadcrumbs__item 
                a(href="#") Блог
              li.breadcrumbs__item(id='breadcrumbs-current') 
                a(href="#") Топ вопросов от начинающих серферов  
      h2.article__title Топ вопросов от начинающих серферов
      .article__ratingblock 
        .article__rating-area
            img(src='../img/ratings/rating-4.png', alt='Рейтинг')
        .article__ratingtext 4 (23 отзыва ) 
            a.article__rating-link(href="#") Написать отзыв
      p.article__text Собрали все частые вопросы от начинающих серферов. Некоторые из них довольно забавные, но ответ на каждый из них поможет тебе перестать мечтать, собраться и поехать серфить на океан.
      picture
        source(media='(max-width: 460px)', srcset='@img/article/article4.png')  
        source(media='(max-width: 992px)', srcset='@img/article/article3.png')
        source(media='(max-width: 1440px)', srcset='@img/article/article2.png')
        img.article__image(src='@img/article/article1.png', alt='')
      .article__questions
        .article__question.question.accordion
          .accordion__item
            .question__title 
              h3 Ничего, что не умею серфить?
              .question__icon 
          .accordion__content
            p.question__text Этот вопрос заставляет нас улыбаться. Представьте, приходите вы в автошколу и спрашиваете: "Ничего, что я не умею водить машину?", а вам там отвечают — "Нет, таких не берут в автошколы" :D Ответ на этот забавный вопрос очевиден — конечно ничего! Не умеете — научим! Cерф-туры и серф-кемпы созданы, чтобы в первую очередь учить серфингу. Большинство ребят в заездах начинающие серферы, около 25% с опытом разного уровня. Но опыт тут не играет никакой роли, главное, чтобы ребята подобрались классные, а опыт — дело практики.
        .article__question.question.accordion.accordion--closed
          .accordion__item
            .question__title 
              h3 Я еду один(одна), не страшно?
              .question__icon 
          .accordion__content
            p.question__text Друзья — стайка морских котиков, которым лень двигаться и твои идеи с серфингом не поддерживает никто? Знакомая история, все сталкивались, и мы не исключение. Редко, очень редко в серф-кемп приезжают компанией хотя бы из двух человек. Многие едут в одиночку, обрастают в кемпе новыми активными друзьями и путешествуют потом вместе. Нормальная практика, подтверждаем :)
        .article__question.question.accordion.accordion--closed
          .accordion__item
            .question__title 
              h3 Какая физическая форма нужна для занятий серфингом?
              .question__icon 
          .accordion__content
            p.question__text Чем ты выносливее, тем тебе будет проще на волнах. Человеку с весом 100+ кг будет тяжелее, чем атлету. Но если он вынослив и упорен, есть все шансы проехать больше волн, чем у ребят в хорошей физической форме. На нашей практике такое было в Португалии. Кроме того, серфинг может стать мотивацией к поддержанию себя в форме в дальнейшем.
        .article__question.question.accordion.accordion--closed
          .accordion__item
            .question__title 
              h3 Насколько это безопасно?
              .question__icon 
            h3.question__title 
          .accordion__content
            p.question__text Плюс серфинга в том, что нам не больно падать и делать ошибки, пока мы учимся. Большинство пляжей для обучения серфингу с песчаным дном и мягкими волнами. Например, такой серф-спот есть на Шри Ланке в деревне Велигама. Конечно, в мире полно серф-спотов, где каждый проезд по волне на грани жизни и смерти. На такие споты мы ездим смотреть, но не учиться. 
        .article__question.question.accordion.accordion--closed
          .accordion__item
            .question__title 
              h3 Что входит в обучение серфингу?
              .question__icon 
          .accordion__content
            p.question__text Наш любимый вопрос "Какой гидрик покупать на Шри Ланку?" :D Поймут те, кто был на Шри Ланке — гидрики в воде 28°С не нужны, а вот лайкру выдадут в школе.
            p.question__text.question__text--last Вообще любые правильные серф-тренировки включают все снаряжение: полностью укомплектованную серф-доску, лайкру или гидрокостюм и, если нужно, трансферы на спот и обратно. В Европе каждый ученик застрахован на все время уроков, так положено правилами. Группы учеников делятся по уровню опыта, на каждого серф-инструктора приходится 3-6 учеников, не больше.