section.cart
  .container
    .cart__inner
      h2.cart__title Корзина
      ul.cart__list 
        //- li.cart__item.cart-item
        //-   div.cart-item__titleblock 
        //-     img(src="@img/goods/wetsuit_1.png") 
        //-     h3.cart-item__title Гидрокостюм VISSLA 7 Seas Gadoo 3/2 Full Suit
        //-   div
        //-     p.cart-item__price 27398 руб
        //- li.cart__item.cart-item
        //-   div.cart-item__titleblock 
        //-     img(src="@img/goods/wetsuit_1.png") 
        //-     h3.cart-item__title Гидрокостюм VISSLA 7 Seas Gadoo 3/2 Full Suit
        //-   div
        //-     p.cart-item__price 27398 руб
      div.cart__summary
        p.cart__summary-text Итого
        span.cart__summary-count 0 руб
      div.cart__btnblock
        button.cart__button.btn Оформить заказ