-
  const instagramPhotos = [
    {
      img: 'inst1.png',
      alt: 'Прогулка'
    },
    {
      img: 'inst2.png',
      alt: 'Прогулка'
    },
    {
      img: 'inst3.png',
      alt: 'Прогулка'
    },
    {
      img: 'inst4.png',
      alt: 'Прогулка'
    },
    {
      img: 'inst5.png',
      alt: 'Прогулка'
    },
  ]

section.instagram-feed
  .container 
    .instagram-feed__inner
      a(href='#') 
        h2.instagram-feed__title Instagram feed: 
          span.instagram-feed__hashtag #surf
      ul.instagram-feed__list
        each item in instagramPhotos
          li.instagram-feed__item 
            img(src=`@img/instagram/${item.img}`, alt=item.alt)