- 
  const images = [
    '686',
    'seafolly',
    'burton',
    'devil',
    'nb',
    'sorel',
    'roxy',
    'vonzipper',
    'baker',
    'vans',
  ]

section.partners
  .container
    .partners__inner
      h2.visually-hidden Наши партнеры
      ul.partners__list 
        each item in images
          li 
            img(src=`@img/partners/${item}.png`, width='240px' height='204px', alt=`${item}`)
      