section.partners
  .container
    .partners__inner
      h2.visually-hidden Наши партнеры
      img(src="@img/partners/item1.png", alt="alt")
      img(src="@img/partners/item2.png", alt="alt")
      img(src="@img/partners/item3.png", alt="alt")
      img(src="@img/partners/item4.png", alt="alt")
      img(src="@img/partners/item5.png", alt="alt")
      img(src="@img/partners/item6.png", alt="alt")
      img(src="@img/partners/item7.png", alt="alt")
      img(src="@img/partners/item8.png", alt="alt")
      img(src="@img/partners/item9.png", alt="alt")
      img(src="@img/partners/item10.png", alt="alt")