-
  const wetsuits = [
    {
      title: 'Гидрокостюм VISSLA 7 Seas Gadoo 3/2 Full Suit',
      price: '27 398 руб',
      image: 'wetsuit_1.png'
    },
    {
      title: 'Гидрокостюм BILLABONG 3 Furnace Absolute GBS',
      price: '45 205 руб',
      image: 'wetsuit_2.png'
    },
    {
      title: 'Гидрокостюм VISSLA 7 Seas 2 mm Spring Suit SS',
      price: '15 790 руб',
      image: 'wetsuit_3.png'
    },
    {
      title: 'Гидрокостюм VISSLA 7 Seas Gadoo 2/2 LS Spring Suit',
      price: '19 865 руб',
      image: 'wetsuit_4.png'
    },
  ]

section.populargoods-common
  .container
    h2.populargoods-common__title Популярные товары
    ul.populargoods-common__goods-list
      each item in wetsuits 
        li.goods-item 
          img(src=`@img/goods/${item.image}`, alt=item.title)
          h4.goods-item__title #{item.title}
          p.goods-item__price #{item.price}
          button.goods-item__btn.btn.btn--quickview Купить