section.popular-goods
  .container
    h2.popular-goods__title Популярные товары
      .popular-goods__tab 
        ul.popular-goods__goods-list
          li.popular-goods__goods-item.goods-item 
            img(src=`@img/goods/wetsuit_1.png`, alt=`Гидрокостюм VISSLA 7 Seas Gadoo 3/2 Full Suit`)
            h4.goods-item__title Гидрокостюм VISSLA 7 Seas Gadoo 3/2 Full Suit
            p.goods-item__price 27 398 руб
            button.goods-item__btn.button
          li.popular-goods__goods-item.goods-item 
            img(src=`@img/goods/wetsuit_2.png`, alt=`Гидрокостюм BILLABONG 3 Furnace Absolute GBS`)
            h4.goods-item__title Гидрокостюм BILLABONG 3 Furnace Absolute GBS
            p.goods-item__price 45 205 руб
            button.goods-item__btn.button 
          li.popular-goods__goods-item.goods-item 
            img(src=`@img/goods/wetsuit_3.png`, alt=`Гидрокостюм VISSLA 7 Seas 2 mm Spring Suit SS`)
            h4.goods-item__title Гидрокостюм VISSLA 7 Seas 2 mm Spring Suit SS
            p.goods-item__price 15 790 руб
            button.goods-item__btn.button 
          li.popular-goods__goods-item.goods-item 
            img(src=`@img/goods/wetsuit_4.png`, alt=`Гидрокостюм VISSLA 7 Seas Gadoo 2/2 LS Spring Suit`)
            h4.goods-item__title Гидрокостюм VISSLA 7 Seas Gadoo 2/2 LS Spring Suit
            p.goods-item__price 19 865 руб
            button.goods-item__btn.button 