//- - const wetsuits = [
//-   {
//-     title: "Гидрокостюм VISSLA 7 Seas Gadoo 3/2 Full Suit",
//-     image: 'wetsuit_1',
//-     price: '27 398 руб'
//-   },
//-   {
//-     title: "Гидрокостюм BILLABONG 3 Furnace Absolute GBS",
//-     image: 'wetsuit_2',
//-     price: '45 205 руб'
//-   },
//-   {
//-     title: "Гидрокостюм VISSLA 7 Seas 2 mm Spring Suit SS",
//-     image: 'wetsuit_3',
//-     price: '15 790 руб'
//-   },
//-   {
//-     title: "Гидрокостюм VISSLA 7 Seas Gadoo 2/2 LS Spring Suit",
//-     image: 'wetsuit_4',
//-     price: '19 865 руб'
//-   }
//- ]

section.popular-goods
  h2.popular-goods__title Популярные товары
    .popular-goods__tab 
      ul.popular-goods__goods-list
        //- each good in wetsuits
        //-   li.popular-goods__goods-item 
        //-     img(src=`img/${good.image}`, alt=`${good.title}`)