section.product-description
  .container
    .product-description__inner
      h2.visually-hidden Каталог товаров 
      .product-description__controls 
        .product-description__breadcrumbs.breadcrumbs
          ul.breadcrumbs__list
            li.breadcrumbs__item.breadcrumbs__item-home
              a(href="#")
                <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M34.6258 15.3682L18.3522 0.331681C17.8781 -0.11056 17.1219 -0.11056 16.6479 0.331681L0.374847 15.3676C0.135276 15.5889 0 15.8938 0 16.2124C0 16.861 0.549387 17.3867 1.22699 17.3867H3.38957V33.8258C3.38957 34.4743 3.93888 35 4.61657 35H13.2055C13.8832 35 14.4325 34.4743 14.4325 33.8258V24.432H20.5675V33.8258C20.5675 34.4743 21.1168 35 21.7945 35H30.3835C31.0611 35 31.6105 34.4743 31.6105 33.8258V17.3867H33.773C34.1057 17.3867 34.424 17.2574 34.6552 17.0285C35.1262 16.5622 35.113 15.8189 34.6258 15.3682ZM31.6105 16.2124C30.9328 16.2124 30.3835 16.7381 30.3835 17.3867V33.8258H21.7945V24.432C21.7945 23.7835 21.2452 23.2578 20.5675 23.2578H14.4325C13.7548 23.2578 13.2055 23.7835 13.2055 24.432V33.8258H4.61657V17.3867C4.61657 16.7381 4.06726 16.2124 3.38957 16.2124H1.22699L17.5 1.17653L33.7792 16.2124H31.6105Z" fill="#C4C4C4"/>
                </svg>
            li.breadcrumbs__item 
              a(href="#") Каталог
            li.breadcrumbs__item
              a(href="#") Доски
            li.breadcrumbs__item(id='breadcrumbs-current') 
              a(href="#") Гидрокостюм VISSLA 7 Seas Gadoo 3/2 Full Suit