section.tours
  .container 
    .tours__header-block 
      h2.tours__title Туры
      a.tours__tourslink Подробнее о турах
    ul.tours__list 
      li.tours__item.tour-item 
        h4.tour-item__title Серф-кемп Бали
        p.tour-item__category Cерфинг и путешествия
      li.tours__item.tour-item 
        h4.tour-item__title Серф-тур на Камчатке
        p.tour-item__category Cерфинг и путешествия
      li.tours__item.tour-item 
        h4.tour-item__title Серф-кемп Бали
        p.tour-item__category Cерфинг и путешествия