doctype html 
html(lang='ru')
  include html/head
  body.article   
    include html/header
    main.main
      include html/article
      include html/instagram-feed
    include html/footer
    include html/modal-map
    script(src='js/main.min.js')