- let pageTitle = 'Сайт о серфинге';
- let greetingTitle = 'Серф-тур в мириссе: все самое лучшее за 2 недели';
- let activePage = 'Блог'

doctype html 
html(lang='ru')
  include html/head
  body.blog   
    include html/header
    main.main
      include html/greetings
      include html/blog-section
      include html/instagram-feed
    include html/footer
    include html/modal-map
    script(src='js/main.min.js')