doctype html 
html(lang='ru')
  include html/head
  body
    include html/header
    main.main
      include html/cart
    include html/footer
    include html/modal-request
    include html/modal-quickview
    include html/modal-map
    script(src='js/main.min.js')