- let pageTitle = 'Сайт о серфинге';
- let greetingTitle = 'Серф-тур на камчатке: все самое лучшее за 2 недели';

doctype html 
html(lang='ru')
  include html/head
  body.catalog 
    include html/header
    main.main
      include html/greetings
      include html/categories
      include html/popular-goods
      include html/populargoods-common
    include html/footer
    script(src='js/main.min.js')