html 
  head 
    link(rel='stylesheet', href='/css/style.min.css')
  body 
    include html/header
    main.page 
      h16.df__rt Привет
      p.ff__rt Параграф
      img(src="@img/lena.jpg")
    include html/footer
    script(src='js/main.min.js')