- let pageTitle = 'Сайт о серфинге';

doctype html 
html(lang='ru')
  include html/head
  body 
    include html/header
    main.main
      include html/greetings
      include html/popular-goods
      include html/promo
      include html/blog
      include html/partners
      include html/tours 
    include html/footer
    include html/modal-request
    include html/modal-quickview
    include html/modal-map
    //- script(src='https://code.jquery.com/jquery-1.11.0.min.js')
    //- script(src='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
    //- script(src='https://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src='js/main.min.js')