- let pageTitle = 'Сайт о серфинге';

doctype html 
html(lang='ru')
  include html/head
  body 
    include html/header
    main
      include html/advertisement
      include html/popular-goods
      include html/advertisement2
      include html/blog 
    include html/footer
    script(src='js/main.min.js')