*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

table {
	border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

:focus {
  outline: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

textarea {
  resize: none;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

body {
  @extend %ss-r;
  font-size: 20px;
  color: $color-text-primary;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  width: 280px;
  height: 60px; 
  background: $color-primary-main;
  border-radius: 5px;
  color: #FFFFFF;
  @extend %ss-b;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

.btn:hover,
.btn:focus {
  
}

.btn:active {
  
}