.modal-request {
  &__wrapper {
    position: fixed;
    top: 225px;
    display: flex;
    flex-direction: column;
    width: 850px;
    height: 540px;
    background-color: #ffffff;
  }

  &__title {
    width: 588px;
    margin-bottom: 40px;
    padding-top: 60px;
    font-family: 'Source Sans Pro';
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    align-self: center;
  }

  &__form {
    width: 632px;
    margin: 0 auto;
    text-align: right;

    label {
      margin-right: 37px;
      font-family: 'Source Sans Pro';
      font-size: 36px;
      line-height: 45px;
      font-weight: 400;
      color: #000000;
    }

    input {
      width: 425px;
      margin-right: 20px;
      margin-bottom: 30px;
      font-size: 36px;
      color: #000000;
      border: none;
      border-bottom: 2px solid #000000;
      outline: none;

      &:focus {
        border-bottom-color: $color-primary-main;
        outline: none;
      }
    }
  }

  &__tel-container {
    margin-bottom: 30px;
  }

  &__btn-block {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  &__btn-info {
    width: 222px;
    font-size: 18px;
    line-height: 23px;
    color: $color-text-modal-secondary;
  }

  &__btn {
    width: 380px;
    height: 60px;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    background-color: $color-primary-main;
    transition: background-color ease-in-out 0.3s;

    &:hover,
    &:active {
      background-color: $color-primary-light;
      transition: background-color ease-in-out 0.3s;
    }

    &:focus {
      background-color: $color-primary-light;
      transition: background-color ease-in-out 0.3s;
    }
  }

  &__btn-close {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__btn-close::before,
  &__btn-close::after {
    position: absolute;
    top: 14px;
    left: -1px;
    width: 33px;
    height: 3px;
    background-color: #000000;
    content: '';
  }

  &__btn-close::before {
    transform: rotate(45deg);
  }

  &__btn-close::after {
    transform: rotate(-45deg);
  }
}

@media screen and (max-width: 1440px) {
  .modal-request {
    &__wrapper {
      top: 268px;
      width: 700px;
      height: 509px;
    }

    &__title {
      align-self: center;
      margin-bottom: 30px;
      font-size: 32px;
      line-height: 40px;
    }

    &__form {
      width: 592px;

      label {
        margin-right: 46px;
        font-size: 32px;
        line-height: 40px;
        color: #000000;
      }

      input {
        width: 380px;
        font-size: 32px;
      }
    }

    &__btn {
      width: 350px;
    }
  }
}

@media screen and (max-width: 992px) {
  .modal-request {
    &__wrapper {
      width: 600px;
      height: 564px;
    }

    &__form {
      width: 456px;

      label {
        margin-right: 34px;
        font-size: 30px;
        line-height: 38px;
      }

      input {
        width: 300px;
        margin-right: 0;
        font-size: 30px;
      }
    }

    &__btn-block {
      flex-direction: column-reverse;
    }

    &__btn {
      align-self: center;
      width: 400px;
      margin-bottom: 20px;
    }

    &__btn-info {
      align-self: center;
      width: 400px;
    }
  }
}

@media screen and (max-width: 768px) {
  .modal-request {
    &__wrapper {
      top: 50px;
      width: 320px;
      height: 487px;
    }

    &__title {
      width: 255px;
      margin-bottom: 20px;
      font-size: 22px;
      line-height: 28px;
    }

    &__form {
      width: 280px;

      label {
        margin-right: 24px;
        font-size: 22px;
        line-height: 28px;
      }

      input {
        width: 160px;
        margin-bottom: 10px;
        font-size: 22px;
      }
    }

    &__tel-container {
      margin-bottom: 20px;
    }

    &__btn {
      width: 280px;
      margin-bottom: 15px;
      font-size: 22px;
      line-height: 28px;
    }

    &__btn-info {
      width: 280px;
      text-align: center;
    }

    &__btn-close {
      top: 10px;
      right: 10px;
    }
  }
}
