.product-description {
  &__inner {
    padding-top: 50px;
    padding-bottom: 25px;
  }

  .breadcrumbs {
    margin-bottom: 30px;

    &__list {
      display: flex;
      align-items: center;
    }

    &__item {
      position: relative;
      margin-right: 30px;

      ::after {
        position: absolute;
        top: 3px;
        right: -18px;
        width: 10px;
        height: 17px;
        background: url(../img/arrow-right.svg);
        content: '';
      }

      a {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        color: $color-text-modal-secondary;
      }
    }

    &__item#breadcrumbs-current {
      a {
        font-weight: 700;
      }

      ::after {
        display: none;
      }
    }

    &__item-home {
      ::after {
        top: 10px;
      }
    }

  }

  &__infocard {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 30px;
  }

  &__imageblock {
    width: 500px;
    padding-left: 20px;
    text-align: center;
  }

  &__imagecontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 480px;
    width: 480px;
    margin-bottom: 30px;

    img {
      max-height: 480px;
      max-width: 480px;
    }

    &:hover {
      cursor: zoom-in;
    }
  }

  &__price {
    margin-bottom: 10px;
    font-family: 'Source Sans Pro';
    font-size: 36px;
    line-height: 45px;
    font-weight: 400;
    color: $color-text-price-primary;
  }

  &__lowingprice {
    font-family: 'Source Sans Pro';
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: $color-text-modal-secondary;
  }

  &__infoblock {
    padding-left: 20px;
  }

  &__title {
    margin-bottom: 10px;
    font-family: 'Source Sans Pro';
    font-size: 36px;
    line-height: 45px;
    font-weight: 700;
    color: $color-text-primary;
  }

  &__ratingblock {
    display: flex;
  }

  &__rating-area {
    width: 125px;
    font-size: 24px;
    margin-right: 25px;
    overflow: hidden;

    &:not(:checked) > input {
      display: none;
    }

    &:not(:checked) > label {
      float: right;
      width: 25px;
      padding: 0;
      cursor: pointer;
      color: $color-text-modal-secondary;
    }

    &:not(:checked) > label:before {
      content: '★';
    }

    > input:checked ~ label {
      color: $color-primary-main;
    }

    &:not(:checked) > label:hover,
    &:not(:checked) > label:hover ~ label {
      color: $color-primary-main;
    }

    > input:checked + label:hover,
    > input:checked + label:hover ~ label,
    > input:checked ~ label:hover,
    > input:checked ~ label:hover ~ label,
    > label:hover ~ input:checked ~ label {
      color: $color-primary-main;
    }

    > label:active {
      position: relative;
    }
  }

  &__ratingtext {
    margin-bottom: 30px;
    font-family: 'Source Sans Pro';
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: $color-text-modal-secondary;
  }

  &__char-item {
    display: flex;
    margin-bottom: 10px;
    font-family: 'Source Sans Pro';
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: $color-text-primary;
  }

  &__characteristics {
    margin-bottom: 25px;
  }

  &__charname {
    width: 250px;
  }

  &__sizesblock {
    display: flex;
    margin-bottom: 80px;
  }

  &__sizestitle {
    margin-right: 30px;
    font-family: 'Source Sans Pro';
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: $color-text-primary;
  }

  .sizes {
    &__radio {
      display: flex;
    }

    &__radio input[type=radio] {
      display: none;
    }

    &__radio-btn {
      position: relative;
      width: 39px;
      height: 39px;

      label {
        position: absolute; 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 39px;
        height: 39px;
        background-color: #ffffff;
        cursor: pointer;

        &::before {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 39px;
          height: 39px;
          font-family: 'Source Sans Pro';
          font-size: 18px;
          line-height: 23px;
          font-weight: 400;
          color: $color-text-modal-secondary;
          border: none;
          content: "6";
        }
      }
    }

    &__radio-btn-1 label::before {
      content: "6";
    }

    &__radio-btn-2 label::before {
      content: "8";
    }

    &__radio-btn-3 label::before {
      content: "10";
    }

    &__radio-btn-4 label::before {
      content: "12";
    }

    &__radio input[type=radio]:checked + label {
      border: 2px solid $color-primary-main;
    }

  }

  &__buttonblock {
    display: flex;
  }

  &__btn {
    width: 280px;
    margin-right: 30px;
    font-family: 'Source Sans Pro';
    font-size: 28px;
    line-height: 35px;
    font-weight: 700;
    background-color: $color-primary-main;
    transition: background-color ease-in-out 0.3s;

    &:hover,
    &:active {
      background-color: $color-primary-light;
      transition: background-color ease-in-out 0.3s;
    }

    &:focus {
      background-color: $color-primary-light;
      transition: background-color ease-in-out 0.3s;
    }
  }

  &__btninfo {
    width: 182px;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    color: $color-text-modal-secondary;
  }

  &__btn-close {
    position: relative;
    left: -2000px;
  }

  &__btn-close::before,
  &__btn-close::after {
    position: absolute;
    top: -700px;
    left: 3187px;
    width: 33px;
    height: 3px;
    background-color: #000000;
    cursor: pointer;
    content: '';
  }

  &__btn-close::before {
    transform: rotate(45deg);
  }

  &__btn-close::after {
    transform: rotate(-45deg);
  }

  &__sizesblock {
    margin-bottom: 22px;
  }

  &__categories {
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 50px;
    background-color: #dfdfdf;
  }

  &__category-item {
    margin-right: 50px;
  }

  &__category-link {
    margin-bottom: 0px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: $color-text-primary;
    border-bottom-color: #dfdfdf;
    transition: border-bottom 0.3s ease-in;

    &--active {
      position: relative;
      margin-bottom: -3px;
      border-bottom: 3px $color-primary-main solid;
    }
  }

  .tab-productabout {
    padding-top: 30px;

    &__text {
      margin-bottom: 30px;
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      color: $color-text-primary;
    }

    &__title {
      margin-bottom: 10px;
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: $color-text-primary;
    }

    &__feature {
      padding-left: 10px;
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      color: $color-text-primary;

      &:before {
        margin-right: 15px;
        font-size:40px;
        line-height: 0px;
        vertical-align:middle;
        content:"·";
      }
    }
  }

  .tab-reviews {
    padding-top: 50px;

    &__item {
      margin-bottom: 30px;
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;

      img {
        height: 23px;
        width: 144px;
      }
    }

    &__infoblock {
      display: flex;
      align-items: center;
    }

    &__name {
      margin-right: 10px;
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 45px;
      color: $color-text-primary;
    }

    &__datetime {
      display: flex;
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 45px;
      color: $color-text-modal-secondary;
    }

    &__date {
      margin-right: 10px;
    }

    &__text {
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      color: $color-text-primary;
    }

    &__link {
      display: flex;
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      color: $color-text-primary;

      p {
        margin-right: 5px;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .product-description {
    &__inner {
      padding-bottom: 0;
    }

    &__cardwrapper {
      width: 932px;
    }

    &__infocard {
      padding-bottom: 30px;
      margin-bottom: 20px;
    }

    &__imageblock {
      width: 420px;
    }

    &__imagecontainer {
      width: 400px;
      height: 400px;
      margin-bottom: 25px;

      img {
        max-width: 400px;
        max-height: 400px;
      }
    }

    &__price {
      font-size: 32px;
      line-height: 40px;
    }

    &__lowingprice {
      font-size: 22px;
      line-height: 28px;
    }

    &__title {
      font-size: 32px;
      line-height: 40px;
    }

    &__ratingtext {
      margin-bottom: 25px;
      font-size: 22px;
      line-height: 28px;
    }

    &__char-item {
      font-size: 22px;
      line-height: 28px;
    }

    &__btn {
      margin-right: 10px;
      font-size: 26px;
      line-height: 33px;
    }

    .tab-productabout { 
      &__text {
        font-size: 22px;
        line-height: 28px;
      }

      &__title {
        font-size: 22px;
        line-height: 28px;
      }
  
      &__feature {
        font-size: 22px;
        line-height: 28px;
      }
    }

    .tab-reviews {
      &__name {
        font-size: 32px;
        line-height: 40px;
      }

      &__datetime {
        font-size: 32px;
        line-height: 40px;
      }

      &__text {
        font-size: 22px;
        line-height: 28px;
      }

      &__link {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .product-description {
    .breadcrumbs {
      &__item {
        margin-right: 26px;
      }
    }

    &__infocard {
      margin-bottom: 0px;
      padding-bottom: 40px;
    }

    &__cardwrapper {
      width: 728px;
    }

    &__imageblock {
      width: 320px;
    }

    &__imagecontainer {
      width: 300px;
      height: 300px;
      margin-bottom: 20px;

      img {
        max-width: 300px;
        max-height: 300px;
      }
    }

    &__price {
      font-size: 30px;
      line-height: 38px;
    }

    &__lowingprice {
      font-size: 20px;
      line-height: 25px;
    }

    &__title {
      width: 378px;
      font-size: 30px;
      line-height: 38px;
    }

    &__ratingblock {
      flex-direction: column;
    }

    &__rating-area {
      margin-bottom: 10px;
    }

    &__ratingtext {
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 25px;
    }

    &__characteristics {
      margin-bottom: 10px;
    }

    &__char-item {
      font-size: 20px;
      line-height: 25px;
    }

    &__sizesblock {
      margin-bottom: 10px;
    }

    &__sizestitle {
      margin-right: 46px;
      font-size: 20px;
      line-height: 25px;
    }

    &__buttonblock {
      flex-direction: column;
    }

    &__btninfo {
      width: 312px;
    }

    &__btn {
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .product-description {
    .breadcrumbs {
      &__list {
        flex-wrap: wrap;
      }
    }

    &__cardwrapper {
      width: 320px;
      height: 926px;
      margin: 0 auto;
    }

    &__infocard {
      flex-direction: column;
    }

    &__imageblock {
      width: 280px;
    }

    &__imagecontainer {
      width: 280px;
      height: 280px;
      margin-bottom: 15px;

      img {
        max-height: 280px;
        max-width: 280px;
      }
    }

    &__price {
      font-size: 22px;
      line-height: 28px;
    }

    &__lowingprice {
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 23px;
    }

    &__title {
      width: 280px;
      font-size: 22px;
      line-height: 28px;
    }

    &__ratingtext {
      font-size: 18px;
      line-height: 23px;
    }

    &__char-item {
      font-size: 18px;
      line-height: 23px;
    }

    &__characteristics {
      margin-bottom: 10px;
    }

    &__charname {
      width: 145px;
    }

    &__sizesblock {
      margin-bottom: 15px;
    }

    &__sizestitle {
      margin-right: 46px;
      font-size: 20px;
      line-height: 25px;
    }

    &__buttonblock {
      flex-direction: column;
    }

    &__btninfo {
      width: 280px;
    };

    &__categories {
      padding-left: 20px;
    }

    &__category-item {
      margin-right: 107px;

      &:last-child {
        margin-right: 0;
      }
    }

    &__category-link {
      font-size: 18px;
      line-height: 23px;
    }

    .tab-productabout { 
      &__text {
        font-size: 18px;
        line-height: 23px;
      }

      &__title {
        font-size: 18px;
        line-height: 23px;
      }
  
      &__feature {
        font-size: 18px;
        line-height: 23px;
      }
    }

    .tab-reviews {
      padding-top: 40px;

      &__header {
        flex-wrap: wrap;
        margin-bottom: 5px;
      }

      &__infoblock {
        flex-wrap: wrap;
      }

      &__name {
        font-size: 22px;
        line-height: 28px;
      }

      &__datetime {
        font-size: 22px;
        line-height: 28px;
      }

      &__text {
        font-size: 18px;
        line-height: 23px;
      }

      &__link {
        display: none;
      }
    }
  }
}