$color-primary: #E9D15C;
$color-primarylight: #FFF51F;

%ss-r {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

%ss-b {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
}