$color-primary-main: #E9D15C;
$color-primary-light: #FFF51F;
$color-bg-primary: #73D1FC;
$color-bg-footer: #3A3B3D;
$color-text-primary: #000000;
$color-text-secondary: #FFFFFF;

%ss-r {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

%ss-b {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
}